*{
margin:0;
padding:0;
box-sizing:border-box;}

body{
background:linear-gradient(to right,#FDFD96,#FFB6C1);
font-family:Ariel;}

.welcome{
 text-align: center;
    padding: 40px;
    background: url('https://images.unsplash.com/photo-1499750310107-5fef28a66643') center / cover;
    color: white;}

header {
    background: #141e30;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

header a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
}


.posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.post {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.formbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #4facfe, #00f2fe);
}

.formcontainer{
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

input,
textarea {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}

button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
}