{% extends 'base.html' %}
{% block content %}
<div class="main">
    <article class="post">
        <header>
            <div class="title">
                <h2>HOW TO START YOUR BLOGGING JOURNEY?</h2>
                <p>It will contain a simple guide for beginners to create and manage a blog.</p>
            </div>
        </header>
        <span class="images features"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRcGhoVv4X53s0sg2HASUEswyGdOTUj1PyTw&s"></span>
        <p>It's a way to connect with your audience and position your brand as a go-to source in your industry.
            Blogging helps you show up on search engines, bring in more visitors and even turn them into loyal customers.
            It's such a game-changer that 53% of marketers say it's one of their top priorities for growth.
        </p>
        <p>Sign up for a free blog. Choose what kind of blog you want to create.
          Pick a blog name. Let people know what your blog is all about.
            Choose your blog template. Customize its design to match your style.
          Write and publish your first post. ...
          Share your blog.</p>
    </article>
</div>

{% endblock %}